$headercolor:rgb(129,152,160);
$titlecolor:rgb(30,214,202);
$greycolor:rgb(230,230,230);
$footercolor:rgb(40,55,62);



a:link , a:visited , a:hover , a:active {
    text-decoration: none;
}

ul {
	margin:0;
	padding:0;
}

li {
	list-style: none;
}

body {
	font-family: 'Merriweather', serif;
}


.header-1 {
	width:100%;
	height:60px;
	background-color:$footercolor;
	font-family: 'Montserrat', sans-serif;

	.block {
		width:80%;
		margin:auto;
	}

	.logo {
		margin-top:9px;
		margin-bottom:9px;
		height:42px;
	}

	ul li {
	    float: left;
	    list-style: none;
	}

	ul li .menu {
		color:$headercolor;
    	height: 60px;
	    line-height: 60px;
	    font-size: 16px;
	    padding: 0 20px;
	    cursor: pointer;
	}

	ul li.active .menu , ul li .menu:hover {
		color:white;
		border-bottom:3px solid $titlecolor;
	}

	.slide-menu-btn {
		float:right;
		margin-top:20px;
		margin-bottom:20px;
		margin-right:10px;
		cursor:pointer;
	}

	.nav {
		float:right;
	}

}

.header-2 {
	width:100%;
	background-color:$headercolor;
	
	.container {
		padding-top:50px;
		padding-bottom:50px;
	}
	.title {
		font-size:36px;
		color:white;
		background-color:rgb(238,172,86);
		line-height:1.2;
		font-family: 'Montserrat';
		width:60%;
	}
}

#top {
	height:340px;
	background-color:$headercolor;
}

.content {
	margin-top:30px;
	margin-bottom:30px;
	line-height: 1.5;

	h1 {
		font-family: 'Montserrat';
	}

	h3 {
		line-height: 1.42857143;
	}

	.quote {
		float:right;
		width:60%;
		color:$headercolor;
		font-size: 20px;
		padding:20px;
	}
	.quote-from {
      float:right;
      width:60%;
      text-align:right;
    }
}

.more-in-series {
    li img {
      border-radius: 4px;
    }

    li {
      padding-top:20px;
    }
}

.more-in-series li .title , .related-articles .title {
   margin-top:0;
   color:$titlecolor;
   font-weight:bold; 
   font-family: 'Montserrat';
}

.more-in-series .header , .related-articles .header {
	width:100%;
	height:28px;
	text-align:center;
	border-bottom: 3px solid $greycolor;
	margin-bottom:10px;
}
		
.more-in-series .header span , .related-articles .header span {
	background-color: white;
	font-size: 36px;
	padding-left: 10px;
	padding-right: 10px;
	font-family: 'Montserrat';
}


.aside {
	margin-top:30px;
}

.submenu {
	border:1px solid #b0b0b0;
	border-radius: 4px;
	margin-bottom:30px;

  	li a {
		color:$titlecolor;
		padding-left:10px;
		padding-right:5px;
		padding-top:5px;
		padding-bottom:5px;
		display:block;
		font-size:15px;
		cursor:pointer;
	}

	li a:hover , li.active > a {
		background-color:$titlecolor;
		color:white;
		text-decoration:none;
	}
}

.submenu h4 , .message h4, .address h4 {
  text-align:center;
  color:black;
  font-family: 'Montserrat';
}

.contact {
	background-color:$greycolor;  
	border-radius: 4px;
	.background {
		border-radius:4px 4px 0 0;
	}

	.table {
		margin-bottom:0;
		margin-top:-40px;
	}

	.table tbody tr td {
		border: none;
	}

	.contacts {
		width:100px;
		border:3px solid white;
		border-radius:50px;
		position:relative;
		left:100px;
		top:-50px;
	}
}

.message {
	padding:20px 30px 20px 30px;
	background-color:lightgray;
	color:rgb(160,160,160);

	.words {
		font-size: 13px;
		text-align:right;  
	}

	.submit-btn {
		width:100%;
		background-color:$titlecolor;
		border:0;
		border-radius: 4px;
		color:white;
		padding:10px;
	}
}

textarea {
	resize: none;
}

.address address {
	padding:10px;
}

.related-articles {
	margin-top:20px;

	.list {
		margin-top:20px;
		border:1px solid lightgray;
		border-radius: 4px;
	}

	.info {
		padding:10px;
	}

	.description {
		color:$headercolor;
	}
}

.footer {
	width:100%;
	margin-top:30px;
	background-color:$footercolor; 

	.container {
		padding-top: 50px;
		padding-bottom:30px;
	}

	h4 {
		color:white;
		font-family: 'Montserrat';
		text-align: center;
	}

	ul li {
		color:#8198a0;
		padding:5px;
		text-align: center;
	}
}


        



@media screen and (min-width: 1200px) {
	.submenu, .contact {
		width:300px;
		float:right;
	}
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
	.submenu, .contact {
		width:300px;
		float:right;
	}
}

@media screen and (min-width: 768px) and (max-width: 991px) {
	body.toggled {
		.nav {
			width:100%;
			height:auto;
			display:block;
			background-color:RGB(40,55,62);
			text-align: left;
		}

		.nav li {
			display:block;
			width:100%;
		}

		
	}

	header {
		.header-1 {
			.container {
				width:100%;
				padding:0;
				text-align: center;
			}		
		}

		.nav {
			display:none;
		}
	}
	
	.submenu, .contact {
		max-width:300px;
	}

}

@media screen and  (max-width: 767px) {
	body.toggled {
		.nav {
			width:100%;
			height:auto;
			display:block;
			background-color:RGB(40,55,62);
			text-align: left;
		}

		.nav li {
			display:block;
			width:100%;
		}	
	}

	header {
		.header-1 {
			.container {
				width:100%;
				padding:0;
				text-align: center;
			}	
		}

		.nav {
			display:none;
		}
	}	

	.more-in-series li .title, .related-articles .title {
		font-size: 20px;	
	}

	.submenu, .contact {
  		max-width:500px;
  		margin:0 auto 30px auto;
	}

	.more-in-series .header span, .related-articles .header span {
		font-size:28px;
	}

	.more-in-series .header, .related-articles .header {
		height:22px;
	}

	.contact .contacts {
		left:38%;
	}

}


